In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from src.database import DbManager
import logging

logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

db_manager = DbManager('../data/vast.db')

In [3]:
db_manager.connect()

INFO:root:Connected to the database '../data/vast.db'

In [4]:
db_manager.get_tables()

['host_machine_map',
 'online_ts',
 'online_snp',
 'machine_split_ts',
 'machine_split_snp',
 'hardware_ts',
 'hardware_snp',
 'cpu_ram_ts',
 'cpu_ram_snp',
 'disk_ts',
 'disk_snp',
 'eod_ts',
 'eod_snp',
 'reliability_ts',
 'reliability_snp',
 'cost_ts',
 'cost_snp',
 'rent_ts',
 'rent_snp',
 'avg_ts',
 'avg_snp',
 'timestamp_tbl']

In [5]:
db_manager.get_tbl_info('avg_ts')

               name     type  notnull dflt_value  pk
cid
0        machine_id  INTEGER        0       None   0
1       disk_bw_avg  INTEGER        0       None   0
2       disk_bw_std     REAL        0       None   0
3    gpu_mem_bw_avg  INTEGER        0       None   0
4    gpu_mem_bw_std     REAL        0       None   0
5       pcie_bw_avg  INTEGER        0       None   0
6       pcie_bw_std     REAL        0       None   0
7        dlperf_avg  INTEGER        0       None   0
8        dlperf_std     REAL        0       None   0
9     inet_down_avg  INTEGER        0       None   0
10    inet_down_std     REAL        0       None   0
11      inet_up_avg  INTEGER        0       None   0
12      inet_up_std     REAL        0       None   0
13        score_avg  INTEGER        0       None   0
14        score_std     REAL        0       None   0
15        timestamp  INTEGER        0       None   0

In [6]:
db_manager.get_db_stats()

                 name  pages   size  percentage
0               total   8072  31.53      100.00
1             avg_snp   5896  23.03       73.05
2      reliability_ts   1005   3.93       12.45
3    machine_split_ts    346   1.35        4.29
4             rent_ts    199   0.78        2.47
5             cost_ts    170   0.66        2.11
6              avg_ts     93   0.36        1.15
7             disk_ts     69   0.27        0.85
8              eod_ts     69   0.27        0.85
9         hardware_ts     40   0.16        0.50
10       hardware_snp     40   0.16        0.50
11            eod_snp     25   0.10        0.31
12           rent_snp     18   0.07        0.22
13  machine_split_snp     16   0.06        0.20
14     idx_machine_id     13   0.05        0.16
15      timestamp_tbl     11   0.04        0.14
16          online_ts     10   0.04        0.12
17           cost_snp     10   0.04        0.12
18         cpu_ram_ts      8   0.03        0.10
19         online_snp      7   0.03        0.09
20   host_machine_map      6   0.02        0.07
21        cpu_ram_snp      6   0.02        0.07
22           disk_snp      6   0.02        0.07
23    reliability_snp      6   0.02        0.07
24      sqlite_schema      3   0.01        0.04

In [7]:
conn = db_manager.conn
# conn.execute('SELECT * FROM dbstat')
conn.execute('PRAGMA compile_options').fetchall()

[('ATOMIC_INTRINSICS=0',),
 ('COMPILER=msvc-1937',),
 ('DEFAULT_AUTOVACUUM',),
 ('DEFAULT_CACHE_SIZE=-2000',),
 ('DEFAULT_FILE_FORMAT=4',),
 ('DEFAULT_JOURNAL_SIZE_LIMIT=-1',),
 ('DEFAULT_MMAP_SIZE=0',),
 ('DEFAULT_PAGE_SIZE=4096',),
 ('DEFAULT_PCACHE_INITSZ=20',),
 ('DEFAULT_RECURSIVE_TRIGGERS',),
 ('DEFAULT_SECTOR_SIZE=4096',),
 ('DEFAULT_SYNCHRONOUS=2',),
 ('DEFAULT_WAL_AUTOCHECKPOINT=1000',),
 ('DEFAULT_WAL_SYNCHRONOUS=2',),
 ('DEFAULT_WORKER_THREADS=0',),
 ('ENABLE_BYTECODE_VTAB',),
 ('ENABLE_COLUMN_METADATA',),
 ('ENABLE_DBPAGE_VTAB',),
 ('ENABLE_DBSTAT_VTAB',),
 ('ENABLE_FTS3',),
 ('ENABLE_FTS4',),
 ('ENABLE_FTS5',),
 ('ENABLE_GEOPOLY',),
 ('ENABLE_MATH_FUNCTIONS',),
 ('ENABLE_PREUPDATE_HOOK',),
 ('ENABLE_RTREE',),
 ('ENABLE_SESSION',),
 ('ENABLE_STMTVTAB',),
 ('MALLOC_SOFT_LIMIT=1024',),
 ('MAX_ATTACHED=10',),
 ('MAX_COLUMN=2000',),
 ('MAX_COMPOUND_SELECT=500',),
 ('MAX_DEFAULT_PAGE_SIZE=8192',),
 ('MAX_EXPR_DEPTH=1000',),
 ('MAX_FUNCTION_ARG=127',),
 ('MAX_LENGTH=1000000000',),
 ('MAX_LIKE_PATTERN_LENGTH=50000',),
 ('MAX_MMAP_SIZE=0x7fff0000',),
 ('MAX_PAGE_COUNT=1073741823',),
 ('MAX_PAGE_SIZE=65536',),
 ('MAX_SQL_LENGTH=1000000000',),
 ('MAX_TRIGGER_DEPTH=100',),
 ('MAX_VARIABLE_NUMBER=32766',),
 ('MAX_VDBE_OP=250000000',),
 ('MAX_WORKER_THREADS=8',),
 ('MUTEX_W32',),
 ('SYSTEM_MALLOC',),
 ('TEMP_STORE=1',),
 ('THREADSAFE=1',)]