In [1]:
%load_ext autoreload
%autoreload 2

In [83]:
from src.database import DbManager, DataBase
import logging

logger = logging.getLogger()
logger.setLevel(logging.DEBUG)

manager = DbManager('../data/test.db')

In [87]:
manager.connect()

INFO:root:Connected to the database '../data/test.db'

In [ ]:
manager.disconnect()

In [75]:
manager.get_tables()

['int32', 'ts', 'timestamp_idx']

In [77]:
manager.get_tbl_info('int32')

    name     type  notnull dflt_value  pk
cid
0      0  INTEGER        0       None   0

In [73]:
manager.get_db_stats()

            name  pages   size  percentage
0          total   9829  38.39      100.00
1             ts   6637  25.93       67.53
2          int32   3190  12.46       32.46
3  sqlite_schema      1   0.00        0.01
4  timestamp_idx      1   0.00        0.01

In [81]:
manager.execute('PRAGMA table_info (int32)').fetchall()

[(0, '0', 'INTEGER', 0, None, 0)]

In [112]:
db = DataBase(manager)
db.manager.connect()
db.create_ts_index()
# db.manager.disconnect()

INFO:root:Connected to the database '../data/test.db'
INFO:root:Table 'timestamp_idx' created

In [107]:
db.manager.disconnect()

INFO:root:Disconnected from the database '../data/test.db'.

In [119]:
c = db.manager.conn
# c.execute('CREATE TABLE IF NOT EXISTS test (idx)').fetchall()
c.execute('CREATE TABLE IF NOT EXISTS test (idx)').lastrowid

0

In [94]:
db.manager.delete_table('test')

INFO:root:Table 'test' deleted

In [95]:
db.manager.get_db_stats()

            name  pages   size  percentage
0          total   9829  38.39      100.00
1             ts   6637  25.93       67.53
2          int32   3190  12.46       32.46
3  sqlite_schema      1   0.00        0.01
4  timestamp_idx      1   0.00        0.01

In [97]:
db.manager.get_tbl_info('ts')

    name       type  notnull dflt_value  pk
cid
0      0  TIMESTAMP        0       None   0